<section *ngIf="vm$ | async as vm">

  <app-table [data]="vm.cars" [cols]="cols" [isActions]="true" (delete)="delete($event)"
    (edit)="editedCarItem($event)"></app-table>

  <div class="add_car card">
    <h1>{{action === 'add'? 'Add': 'Update'}} Car</h1>
    <form [formGroup]="addCarForm" (ngSubmit)="addUpdatecar()">
      <div>
        <label for="carNumber">Car Number</label>
        <input type="text" formControlName="car_number" id="carNumber" name="car_number"
          placeholder="Car Number AP-05-BJ-9353..">
        <div class="text-danger" *ngIf="f['car_number'].errors && (f['car_number'].touched || f['car_number'].dirty)">
          <div *ngIf="f['car_number'].errors['required']">Car Number is required</div>
          <div *ngIf="f['car_number'].errors['pattern']">Car Number is not matched with pattern</div>
          <div *ngIf="f['car_number'].errors['carNumberNotAvailable']">This is existed car number</div>
        </div>
      </div>

      <div>
        <label for="name">Owner Name</label>
        <input type="text" formControlName="owner_name" id="name" name="owner_name" placeholder="Your name..">
        <div class="text-danger" *ngIf="f['owner_name'].errors && (f['owner_name'].touched || f['owner_name'].dirty)">
          <div *ngIf="f['owner_name'].errors['required']">Car Owner Name is required</div>
        </div>
      </div>

      <div>
        <label for="model">Model</label>
        <select id="model" name="model" formControlName="model">
          <option value="">Select Car Model</option>
          <option value="maruti">Maruti</option>
          <option value="tata">Tata</option>
          <option value="jeep">Jeep</option>
          <option value="kia">Kia</option>
          <option value="mahindra">Mahindra</option>
          <option value="hyndai">Hyndai</option>
        </select>
        <div class="text-danger" *ngIf="f['model'].errors && (f['model'].touched || f['model'].dirty)">
          <div *ngIf="f['model'].errors['required']">Car Model is required</div>
        </div>
      </div>

      <div class="actions-btn">
        <button class="btn" type="submit"> {{action | uppercase}}</button>
        <button class="btn" type="button" (click)="action =='add'; addCarForm.reset()">Cancel</button>
      </div>
    </form>

  </div>
  <div *ngIf="vm.loading">
    Loading...
  </div>
</section>