<section>

  <table id="cars">
    <tr>
      <th>Id</th>
      <th>Owner Name</th>
      <th>Car Number</th>
      <th>Car Model</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let car of cars$ |async ; else loadingTemp">
      <td>{{car.id}}</td>
      <td>{{car.owner_name}}</td>
      <td>{{car.car_number}}</td>
      <td>{{car.model}}</td>
      <td>
        <div class="actions">
          <button (click)="deleteCar(car)">Delete</button> &nbsp;
          <button (click)="editedCarItem(car)">Edit</button>
        </div>
      </td>
    </tr>
  </table>

  <div class="add_car">
    <form [formGroup]="addCarForm" (ngSubmit)="addUpdatecar()">
      <label for="carNumber">Car Number</label>
      <input type="text" formControlName="car_number" id="carNumber" name="car_number" placeholder="Car Number..">

      <label for="name">Owner Name</label>
      <input type="text" formControlName="owner_name" id="name" name="owner_name" placeholder="Your name..">

      <label for="model">Model</label>
      <select id="model" name="model" formControlName="model">
        <option value="maruti">Maruti</option>
        <option value="tata">Tata</option>
        <option value="jeep">Jeep</option>
        <option value="kia">Kia</option>
        <option value="mahindra">Mahindra</option>
        <option value="hyndai">Hyndai</option>
      </select>

      <input type="submit" value="{{action | uppercase}}">
    </form>
  </div>

</section>


<ng-template #loadingTemp>
  Loading...
</ng-template>