#cars {
    border-collapse: collapse;
    width: 100%;
}

#cars td,
#cars th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cars tr:nth-child(even) {
    background-color: #f2f2f2;
}

#cars tr:hover {
    background-color: #ddd;
}

#cars th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3f4443;
    color: white;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.actions-btn {
    display: flex;
    gap: 1rem;
}

.add_car {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    margin: 1rem auto;
}
